[Unit]
Description=Initialisieren der I2C Teilnehmer
DefaultDependencies=no
After=basic.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo bme280 0x76 > /sys/bus/i2c/devices/i2c-1/new_device'

[Install]
WantedBy=multi-user.target

####################################################################
## Service Unit aktivieren
## Jetzt muss die Service Unit noch aktiviert werden
##   sudo systemctl enable i2c_init.service 
## 
## Anschließend kann die Unit gestartet werden:
##   sudo systemctl start i2c_init.service 
##
####################################################################
